1. What are data types, why are they important?
  - Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended use.
Think of them as containers that hold your data and determine how you can interact with it. Different containers are better suited for different types of items.

They are important because,Choosing the right data structure significantly impacts the efficiency and performance of your program.
Well-chosen data structures can:
  -Simplify data manipulation (adding, removing, modifying elements)
  - Optimize searching and sorting operations
Conserve memory usage

2. Explain the difference b/w mutable and non-mutable data types with examples?
    - mutable data types: You can add, remove, or modify elements within a list using indexing and slicing ex: list
    - non mutale data type:You can access elements using indexing and slicing, but you cannot modify the content ex: tuples
3. What is the main difference between list and tuples in python
  - Lists are Ordered, mutable collections of elements. Think of shopping lists or task lists. Lists can hold items of various data types such as numbers, strings, even other lists.
  - Tuples are Ordered, immutable collections of elements, similar to lists. However, once created, the items in a tuple cannot be changed. They provide a secure way to store data that shouldn't be modified.
4. Describe how dictionaries store data?
  - Dictionaries store data as unique key-value pairs.
5. Why might you use a set instead of a list in python?
  - For checking membership of an element we can prefer set, instead of list, since it doesn't allow duplicate elements.
6. What is a string in python, and how it is different from a list?
  - A string is a sequence of characters between single or double quotes. A list is a sequence of items, where each item could be anything (an integer, a float, a string, etc).
7. How do tuples ensures data integrity in python?
  - Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, guaranteeing data integrity and reliability. This immutability allows tuples to be used as keys in dictionaries and elements in sets, as they can be hashed.
8. What is a hash table, how does it relates to dictinaries in python?
  - Python, the Dictionary data types represent the implementation of hash tables. The Keys in the dictionary satisfy the following requirements. The keys of the dictionary are hashable i.e. the are generated by hashing function which generates unique result for each unique value supplied to the hash function.
9. Can list contain different data types in python?
  - Lists can hold items of various data types (numbers, strings, even other lists.
10. Expalin why strings are immutable in python?
  - Strings in Python are “immutable” which means they can not be modified after they are created.
11. What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries use a hash table to store key-value pairs, which allows for very fast lookups. This makes them ideal for tasks that require frequent lookups or searches.
12. Describe a scenario where using a tuple would be preferable over a list?
  - If you have data that's not meant to be changed in the first place — such as critical information or records — you should choose tuple data type over lists. ex: entering the aadhar numbers of people, aadhar number should not be modified in future.
13. How do sets disply duplicate values in python?
  - Duplicate entries are not allowed in sets and will not be displayed more than once.
14. How does the "in" keyword work differently for list and dictionaries.
  - In lists it can check if a sequence contains a particular value. .
  - In dictionaries,it tells you whether something appears or not as a key in the dictionary. It returns two values True or False.
15. Can you modify an element in tuple, explain why or why not?
  - Tuples are immutable collection of elements,You can access elements using indexing and slicing, but you cannot modify the content. Tuples are useful for representing fixed datasets or configurations.
16. What is a nested dictionary, and give an example of its uses case?
  - A nested dictionary is a dictionary that is stored as a value within another dictionary.
17. Describe the time complexity of accessing elements in a dictionary?
  - Time complexicity in dictionary means that the time it takes to retrieve an element is constant and doesn't depend on the size of the dictionary.
18. In what situations are lists are preffered over dictionaries?
  - If you need an ordered collection, like a sequence of user actions, lists are your go-to. On the other hand, when you need quick look-ups, like mapping usernames to user data, dictionaries are invaluable.
19. Why are dictionaries considered unordered, and how does that affect data retrieval
  - python dictionary is unordered. It means that you can't access the dictionary element based on it's position value.
20. Expain the difference between list and dictionaries on in terms of data retrieval?
  - A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys.

In [4]:
#1. Write a code yothsna Unnikrishnanto create a string with your name and print it?
name = "Jyothsna Unnikrishnan"
print(name)

Jyothsna Unnikrishnan

In [7]:
#2. Write a code to find the length of string "Hello World"?
D= "Hello World"
len(D)

11

In [8]:
#3.Write a code to slice the first 3 characters from string "Python programming"?
E= "Python programming"
E[0:3]

'Pyt'

In [9]:
#4. Write a code concert the string "hello" to uppercase?
H= "hello"
H.upper()

'HELLO'

In [10]:
#5. Write a code to replace the word "apple" with "orange" in the string "i like apple"?
I= "i like apple"
I.replace("apple","orange")

'i like orange'

In [11]:
#6. Write a code to create a list with number 1 to 5 and print it?
numbers= [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

In [12]:
#7. Write a code to append the number 10 to the list [1,2,3,4,5]
numbers= [1,2,3,4,5]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 5, 10]

In [13]:
#8. Write a code to remove the number 3 from the list [1,2,3,4,5].
numbers= [1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [14]:
#9. Write a code to access the second element in the list ['a','b','c','d'].
list= ['a','b','c','d']
list[1]

'b'

In [18]:
#10. Write a code to reverse the list [10,20,30,40,50]
list= [10,20,30,40,50]
list[::-1]

[50, 40, 30, 20, 10]

In [20]:
#11. Write a code to create a tuple with numbers 10,20,30 and print it?
tuple= (10,20,30)
print(tuple)

(10, 20, 30)

In [21]:
#12. Write a code to access the first element of tuple ("apple","banana", "cherry")
tuple= ("apple","banana", "cherry")
tuple[0]

'apple'

In [22]:
#13. Write a code to count how many times the number 2 appears in the tuple (1,2,3,2,4,2)
T= (1,2,3,2,4,2)
T.count(2)

3

In [23]:
#14. Write a code to find the index of the element "cat" in the tuple ("dog","cat","rabbit")?
t= ("dog","cat","rabbit")
t.index("cat")

1

In [24]:
#15. Write a code to check if the element "banana" is the tuple ("apple","orangr","banana")?
t= ("apple","orangr","banana")
"banana" in t

True

In [26]:
#16. Write a code to create a set with the elements 1,2,3,4,5 and print it?
s= {1,2,3,4,5}
print(s)

{1, 2, 3, 4, 5}

In [28]:
#17. Write a code to add the element 6 to ther set {1,2,3,4}
set={1,2,3,4}
set.add(6)
print(set)

{1, 2, 3, 4, 6}

In [29]:
#18. Write a code to create a tuple with the elements 10,20,30 and print it?
Tu= (10,20,30)
print(Tu)

(10, 20, 30)

In [30]:
#19. Write a code to access the first element of the tuple ("apple", "babana", "cherry")
Tup= ("apple", "babana", "cherry")
Tup[0]

'apple'

In [ ]:
#20. same as Q.13
#21. same as Q.14
#22. same as Q.15
#23. same as Q.16
#24. same as Q.17